# INSPIRED BASE GIT IGNORE

# Ignore everything in the root except required
/*
!instamac-calculator/
!.gitignore
!instamac-calculator.zip

# Ignore node_modules
instamac-calculator/assets/node_modules
